<!-- html to show designs if artist is isLoggedIn -->

<!doctype html>
<html>
<head>
  <title>Marker</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/public.css">
</head>
<body>
  <div class="mainContainer">
  <header>
    <nav>
      <h1><a href="/">M<span class="arH1">ar</span>ker</a></h1>
      <h3 style="margin-right: 70%;">Artists</h3>
      <p><a href="javascript:login('show');">sign in</a></p>
      <p class="signUp"><a href="javascript:signup('show');">get started</a></p>
    </nav>
  </header>
  <!-- <p><a href="/logout">logout</a></p> -->
  <div class="well">
  <% if (user.local.email) { %>
  <p class="profileInfo">
    <img class="profilePhoto" src="<%= user.profilePhoto %>" alt="">
    <span class="instagram"><%= user.instagram %></span><br>
    <span><%= user.name %></span><br>
    <span>Based in <%= user.cityState %></span>

<h4><a href="mailto:micahellae@gmail.com">Book an appointment!</a></h4>
  </p>
  <% } %>
  </div>

  <div class="grid-container">

    <!-- displays each object in db 'designs' -->
    <% for(let i = 0; i < designs.length; i++) {%>
      <!-- <a href="/camera"> --><!-- </a> -->
      <div>
        <div data-source="<%= designs[i].image %>" class="grid-item arObject">
          <div class="publicDes">
          <img class="src designs" src="data:image/png;base64,<%= designs[i].image %>" alt="">
          <!-- <time><%= designs[i].dateCreated %></time> -->
          <a href="/design/<%= designs[i].filename %>">
          <span class="designLink">Try Design</span>
          </a>
          </div>
        </div>

      </div>
      <%}%>
    </div>
  </div>
  <footer>
      <p>About</p>
      <p>Contact</p>
      <p>Terms</p>
  </footer>
    <script type="text/javascript" src="/main.js"></script>
    <script type="text/javascript" src="/send.js" ></script>
  </body>
  </html>
